// color palette
$colors: (
    primary: #5d50c6,
    light: #ffffff,
    secondary: #f85e9f,
    orange: #ff5722,
    dark: #222831,
    darken: #333,
    grey-black: #191825,
    yellow: #facd49,
);

$spacings: (
    xs: 4px,
    sm: 8px,
    md: 16px,
    lg: 24px,
    xl: 32px,
);

// media screen
$breakpoints: (
    sm: 430px,
    // Small Devices (Mobiles)
    lg: 1024px,
    // Large Devices (Laptops)
    xl: 1440px,
);

$weight-bold: 700;

// z-index
$z-index: (
    overlay: 1,
    drawer: 2,
    ham-menu: 3,
);
