// Breakpoints
$screen-sm-min: 480px; // Mobile
$screen-md-min: 768px; // Tablet
$screen-lg-min: 1024px; // Desktop

// flex
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

// color palette
$primary: #5d50c6;
$secondary: #f85e9f;
$light: #ffffff;
$orange: #ff5722;
$dark: #222831;
$grey-black: #191825;
$yellow: #facd49;
