// Import variables and mixins
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'abstracts/functions' as *;

// Import base styles
@use 'base/reset';
@use 'base/typography';

// Import components
@use 'components/button';
@use 'components/card';

// Import pages
@use 'pages/home';

// Import vendors
@use 'vendors/icomoon';

.container,
.img-container {
    height: 400px;
    width: 400px;
    gap: px-to-rem(32);
    background-color: map-get($colors, orange);
    @include flex(center, center);
}

.box {
    height: 200px;
    width: 200px;
    background-color: map-get($colors, light);
}
