@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@include font-face(
    'Circular Std',
    '../../assets/fonts/circularStd/CircularStd-Bold'
);

@include font-face('Inter', '../../assets/fonts/inter/Inter_18pt-Thin.ttf');

@include font-face('icomoon', '/src/assets/fonts/icomoon/icomoon');

body {
    font-family: 'Circular Std';
    font-weight: 700;
}

.main-heading {
    font-size: px-to-rem(40);

    @include breakpoint('md') {
        font-size: px-to-rem(55);
    }

    @include breakpoint('lg') {
        font-size: px-to-rem(69);
    }
}

.section-title {
    font-size: px-to-rem(16);
    color: map-get($colors, orange);

    @include breakpoint('md') {
        font-size: px-to-rem(23);
    }
}

.section-heading {
    font-size: px-to-rem(32);
    color: map-get($colors, grey-black);

    @include breakpoint('md') {
        font-size: px-to-rem(40);
    }

    @include breakpoint('lg') {
        font-size: px-to-rem(44);
    }
}

.section-description {
    @include font('Circular Std', px-to-rem(16), 400);

    @include breakpoint('md') {
        font-size: px-to-rem(18);
    }
}
